<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Server Monitor</title>
  <meta name="description" content="Server Monitor Application">
  <meta name="author" content="Anthony Mendez">

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
</head>

<body>
  
</body>
  Test TEXT!
<footer>

</footer>
</html>